@model TP02Module05_Partie_2.Pizza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Html.Partial("_Pizza", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
